<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.photo.dao.MemberMapper">
	<insert id="insertMember" parameterType="HashMap">
	insert into member(member_nickname, member_id, member_password) values (#{name}, #{userId}, #{password})
	</insert>
	
	<select id="memberExistChk" parameterType="HashMap" resultType="_int">
	select exists (select member_no from member where member_id = #{userId} and member_password = #{password})
	</select>
	
	<select id="getMemberById" parameterType="HashMap" resultType="HashMap">
	select member_no, member_id, member_nickname from member where member_id = #{userId}
	</select>
	
	<delete id="deleteMemberByNo" parameterType="HashMap">
	delete from member where member_no = #{no}
	</delete>
</mapper>