<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.photo.dao.StoryMapper">
	<select id="selectTest" resultType="string">
		select 'test'
	</select>
	
	<insert id="insertStory" parameterType="HashMap">
	insert into story(story_writer_nickname, member_no, story_title, story_content, story_city, story_town) 
	values(#{memberNickName}, #{memberNo}, #{title}, #{content}, #{city}, #{town})
	</insert>
</mapper>